@import "@/styles/variables.modules";

.filmBox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  max-width: 50%;
  // justify-content: center;
  height: 900px;
  gap: 15px;
  padding-top: 50px;
  .logo {
    max-width: 570px;
    max-height: 190px;
  }
  .content {
    display: flex;
    gap: 10px;
    color: $color-secondary;
    align-items: center;
    .imdb {
      height: 25px;
    }
    .genreList {
      display: flex;
    }
  }
  .bgFilm {
    position: absolute;
    height: 700px;
    z-index: -1;
    top: 0px;
    right: -10%;
    border-radius: 20px;
  }
}
