@import "@/styles/variables.modules";

.poster {
  width: 300px;
  height: 430px;
  border-radius: 25px;
  transition: $transition-default;
}

.category {
  margin: 50px 0px;
  font-size: $fontSize-medium;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 470px;
  font-size: $fontSize-medium;
}

.movieList {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
  li {
    width: 300px;
  }
  .itemLink {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: $fontSize-light;
    color: $color-accent;
    transition: $transition-default;
    &:hover {
      transform: scale(110%);
      .poster {
        box-shadow: 0px 0px 8px 10px rgba(255, 255, 255, 0.2);
      }
    }
  }
}
